autopep8==1.*
click==8.*
dominate==2.*
Flask==2.*
Flask-Bootstrap==3.*
Flask-DotEnv==0.1.*
Flask-QRcode==3.*
Flask-WTF==1.*
importlib-metadata==4.*
itsdangerous==2.*
Jinja2==3.*
json2html==1.*
MarkupSafe==2.*
Pillow==9.*
pycodestyle==2.*
pylightning==0.*
python-dotenv
qrcode==7.*
toml==0.10.*
visitor==0.1.*
Werkzeug==2.*
WTForms==3.*
zipp==3.*
